<!-- templates/registration/password_reset_email.html -->
{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
<body>
  <p>{% blocktrans %}You're receiving this email because you requested a password reset for your account.{% endblocktrans %}</p>
  <p>{% blocktrans %}Please click the following link to reset your password:{% endblocktrans %}</p>
  <p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
    {% blocktrans %}Reset Password{% endblocktrans %}
  </a></p>
  <p>{% blocktrans %}If you didn't request a password reset, please ignore this email.{% endblocktrans %}</p>
</body>
</html>
